#include <windows.h>
#include "gui\win32res.h"

ICON_BOCHS ICON build\win32\nsis\bochs.ico

ASK_DLG DIALOG 30, 30, 200, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Event"
FONT 8, "Helv"
BEGIN
    LTEXT           "Device", IDASKTX1, 10, 12, 40, 14
    EDITTEXT        IDASKDEV, 45, 10, 145, 14, ES_READONLY
    LTEXT           "Message", IDASKTX2, 10, 27, 40, 14
    EDITTEXT        IDASKMSG, 45, 25, 145, 14, ES_READONLY | ES_AUTOHSCROLL
    LISTBOX         IDASKLIST, 10, 50, 120, 45, WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 140, 50, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 140, 70, 50, 14
END

STRING_DLG DIALOG 30, 30, 130, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Param"
FONT 8, "Helv"
BEGIN
    EDITTEXT        IDSTRING, 15, 15, 100, 14
    DEFPUSHBUTTON   "OK", IDOK, 10, 40, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 70, 40, 50, 14
END

FLOPPY_DLG DIALOG 30, 30, 240, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Param"
FONT 8, "Helv"
BEGIN
    LTEXT           "Device Type", IDDEVTX, 5, 12, 45, 14
    EDITTEXT        IDDEVTYPE, 50, 10, 40, 14, ES_READONLY | NOT WS_TABSTOP
    LTEXT           "Path", IDPATHTX, 5, 32, 40, 14
    EDITTEXT        IDPATH, 50, 30, 120, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...", IDBROWSE, 180, 30, 50, 14
    AUTOCHECKBOX    "Inserted", IDSTATUS, 50, 50, 50, 14
    PUSHBUTTON      "Create Image", IDCREATE, 35, 70, 50, 14
    DEFPUSHBUTTON   "OK", IDOK, 95, 70, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 155, 70, 50, 14
END
