#define ISOLATION_AWARE_ENABLED
#include <windows.h>
#include "gui\win32res.h"

ICON_BOCHS ICON build\win32\nsis\bochs.ico

// Manifest for WinXP & Win2003
1 24 build\win32\bochs.manifest

ASK_DLG DIALOG 30, 30, 200, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Event"
FONT 8, "Helv"
BEGIN
    LTEXT           "Device", IDASKTX1, 10, 12, 40, 14
    EDITTEXT        IDASKDEV, 45, 10, 145, 14, ES_READONLY
    LTEXT           "Message", IDASKTX2, 10, 27, 40, 14
    EDITTEXT        IDASKMSG, 45, 25, 145, 14, ES_READONLY | ES_AUTOHSCROLL
    LISTBOX         IDASKLIST, 10, 50, 120, 45, WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 140, 50, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 140, 70, 50, 14
END

STRING_DLG DIALOG 30, 30, 130, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Param"
FONT 8, "Helv"
BEGIN
    EDITTEXT        IDSTRING, 15, 15, 100, 14
    DEFPUSHBUTTON   "OK", IDOK, 10, 40, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 70, 40, 50, 14
END

FLOPPY_DLG DIALOG 30, 30, 240, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Param"
FONT 8, "Helv"
BEGIN
    LTEXT           "Device Type", IDDEVTX, 5, 12, 45, 14
    EDITTEXT        IDDEVTYPE, 50, 10, 40, 14, ES_READONLY | NOT WS_TABSTOP
    LTEXT           "Path", IDPATHTX, 5, 32, 40, 14
    EDITTEXT        IDPATH, 50, 30, 120, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...", IDBROWSE, 180, 30, 50, 14
    LTEXT           "Media Type", IDMEDIATX, 5, 52, 45, 14
    COMBOBOX        IDMEDIATYPE, 50, 50, 40, 14, CBS_DROPDOWNLIST | WS_TABSTOP
    AUTOCHECKBOX    "Inserted", IDSTATUS, 50, 70, 50, 14
    LTEXT           "Clicking OK signals a media change for this drive.",
                    IDCHANGETX, 35, 90, 185, 8
    PUSHBUTTON      "Create Image", IDCREATE, 35, 105, 50, 14
    DEFPUSHBUTTON   "OK", IDOK, 95, 105, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 155, 105, 50, 14
END

CDROM1_DLG DIALOG 30, 30, 240, 85
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "First CD-ROM image/device"
FONT 8, "Helv"
BEGIN
    GROUPBOX        "CD-ROM #1", IDGROUP1, 10, 10, 220, 42
    LTEXT           "Path", IDLABEL1, 15, 22, 25, 14
    EDITTEXT        IDCDROM1, 45, 20, 120, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...", IDBROWSE1, 173, 20, 50, 14
    AUTOCHECKBOX    "Inserted", IDSTATUS1, 13, 35, 41, 14, BS_LEFTTEXT | WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 65, 60, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 125, 60, 50, 14
END

RT_CDROM_DLG DIALOG 30, 30, 240, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "CD-ROM Options"
FONT 8, "Helv"
BEGIN
    GROUPBOX        "CD-ROM #2", IDGROUP2, 10, 20, 220, 42
    LTEXT           "Path", IDLABEL2, 15, 32, 25, 14
    EDITTEXT        IDCDROM2, 45, 30, 120, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...", IDBROWSE2, 173, 30, 50, 14
    AUTOCHECKBOX    "Inserted", IDSTATUS2, 13, 45, 41, 14, BS_LEFTTEXT | WS_TABSTOP
    GROUPBOX        "CD-ROM #3", IDGROUP3, 10, 70, 220, 42
    LTEXT           "Path", IDLABEL3, 15, 82, 25, 14
    EDITTEXT        IDCDROM3, 45, 80, 120, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...", IDBROWSE3, 173, 80, 50, 14
    AUTOCHECKBOX    "Inserted", IDSTATUS3, 13, 95, 41, 14, BS_LEFTTEXT | WS_TABSTOP
    GROUPBOX        "CD-ROM #4", IDGROUP4, 10, 120, 220, 42
    LTEXT           "Path", IDLABEL4, 15, 132, 25, 14
    EDITTEXT        IDCDROM4, 45, 130, 120, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...", IDBROWSE4, 173, 130, 50, 14
    AUTOCHECKBOX    "Inserted", IDSTATUS4, 13, 145, 41, 14, BS_LEFTTEXT | WS_TABSTOP
END

RT_USBDEV_DLG DIALOG 30, 30, 240, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "USB Options"
FONT 8, "Helv"
BEGIN
    LTEXT           "USB port #1 device", IDUSBLBL1, 10, 27, 70, 14
    EDITTEXT        IDUSBDEV1, 85, 25, 70, 14
    LTEXT           "USB port #1 option", IDUSBLBL2, 10, 47, 70, 14
    EDITTEXT        IDUSBOPT1, 85, 45, 70, 14
    LTEXT           "USB port #2 device", IDUSBLBL3, 10, 67, 70, 14
    EDITTEXT        IDUSBDEV2, 85, 65, 70, 14
    LTEXT           "USB port #2 option", IDUSBLBL4, 10, 87, 70, 14
    EDITTEXT        IDUSBOPT2, 85, 85, 70, 14
    LTEXT           "Under contruction - don't use these options yet !", IDUSBWARN, 10, 120, 155, 14
END

RT_LOGOPT_DLG DIALOG 30, 30, 240, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Log Options"
FONT 8, "Helv"
BEGIN
    LISTBOX         IDDEVLIST, 15, 25, 45, 100, WS_VSCROLL | WS_TABSTOP
    LTEXT           "Debug events", IDLOGLBL1, 70, 27, 55, 14
    COMBOBOX        IDLOGEVT1, 155, 25, 65, 56, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Info events", IDLOGLBL2, 70, 47, 55, 14
    COMBOBOX        IDLOGEVT2, 155, 45, 65, 56, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Error events", IDLOGLBL3, 70, 67, 55, 14
    COMBOBOX        IDLOGEVT3, 155, 65, 65, 56, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Panic events", IDLOGLBL4, 70, 87, 55, 14
    COMBOBOX        IDLOGEVT4, 155, 85, 65, 56, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Pass events", IDLOGLBL5, 70, 107, 55, 14
    COMBOBOX        IDLOGEVT5, 155, 105, 65, 56, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL |
                    WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX    "Specify log options per device", IDADVLOGOPT, 50, 135, 112, 14, BS_LEFTTEXT | WS_TABSTOP
END

RT_MISC_DLG DIALOG 30, 30, 240, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Misc Options"
FONT 8, "Helv"
BEGIN
    LTEXT           "VGA update interval", IDMISCLBL1, 10, 27, 70, 14
    EDITTEXT        IDVGAUPDATE, 85, 25, 70, 14, ES_NUMBER
    AUTOCHECKBOX    "Mouse", IDMOUSE, 8, 45, 86, 14, BS_LEFTTEXT | WS_TABSTOP
    LTEXT           "Keyboard paste delay", IDMISCLBL2, 10, 67, 70, 14
    EDITTEXT        IDKBDPASTE, 85, 65, 70, 14, ES_NUMBER
    LTEXT           "Userbutton shortcut", IDMISCLBL3, 10, 87, 70, 14
    EDITTEXT        IDUSERBTN, 85, 85, 70, 14
    LTEXT           "SB16 DMA timer", IDMISCLBL4, 10, 107, 70, 14
    EDITTEXT        IDSB16TIMER, 85, 105, 70, 14, ES_NUMBER
    LTEXT           "SB16 loglevel", IDMISCLBL5, 10, 127, 70, 14
    EDITTEXT        IDSBLOGLEV, 85, 125, 70, 14, ES_NUMBER
END

